@model InventoryManagementV1.Models.Customer
@{
    Layout = "~/Views/Shared/layout.cshtml";
}

<!DOCTYPE html>
<section class="content-header"></section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
              
                <!-- /.box-header -->

                @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "form-horizontal"}))
                {
                    <div class="box-body">
                        @Html.HiddenFor(m => m.Id)
                        <div class="box-header">
                            <h3 class="box-title"><b>Invoice</b></h3>
                            <hr />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Customer Mobile<span style="color:red;">*</span></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Mobile1, new { @Class = "form-control", @placeholder = "Search Mobile No" })
                            </div>
                            <div class="col-md-3">
                                <input type="hidden" id="customerId"/>
                                <input type="button" value="Search" id="SearchCustomer" class="btn btn-info" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Customer Name<span style="color:red;">*</span></label>
                            <label class="control-label col-md-3" id="name"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Customer Address<span style="color:red;">*</span></label>
                            <label class="control-label col-md-3" id="address"></label>
                        </div>
                    </div>
                }

                <table id="ProductSaleTable" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class="info">
                            <th>Material</th>
                            <th>Category</th>
                            <th>Size Group</th>
                            <th>Color</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>A.Quantity</th>
                            <th>S.Price</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                   
                    </tbody>

                </table>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-5">
                            <input type="button" value="Save" id="SaveBtn" class="btn btn-info" />
                        </div>

                    </div>
                    </div>
                </div>

            <!-- /.box -->

        </div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">

                <!-- /.box-header -->

                @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "form-horizontal", @id="formid"}))
                {
                    <div class="box-body">
                        <div class="box-header">
                            <h3 class="box-title"><b>All Product Details</b></h3>
                            <hr />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Product No<span style="color:red;">*</span></label>
                            <div class="col-md-6">
                                @Html.TextBox("Product_No",null, new { @Class = "form-control", @placeholder = "Search Product  No" })
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="ProductNoSearch" value="Search" class="btn btn-info" />
                            </div>
                        </div>
                      
                    </div>
                }

                <table id="productQuantityTable" class="table table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Material</th>
                            <th>Category</th>
                            <th>Size Group</th>
                            <th>Color</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody><tr></tr></tbody>
                </table>
            </div>

            <!-- /.box -->

        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $("table").on('click', '.productQuantityDelete', function () {
                $(this).closest('tr').remove();
            });
            $("table").on('click', '.chooseBtn', function () {
                var selectedTr = $(this).closest('tr');
                var tds = $(selectedTr).find('td');

                var material = $(tds).eq(0).text().trim();
                var category = $(tds).eq(1).text().trim();
                var SizeGroupRange = $(tds).eq(2).text().trim();
                var color = $(tds).eq(3).text().trim();
                var quantity = $(tds).eq(4).text().trim();
                var price = $(tds).eq(5).text().trim();
                var editButton = $(tds).eq(6).find("button")[0];
                var editButtonId = $(editButton).attr('id'); // get button id 
                //$("#ProductSaleTable").find("tr").click(function() {
                  
                //    var productQuantity = $(this).closest('tr').find("#productquantityid").attr(id);
                //});
                //console.log(productQuantity);
                //if (productQuantity == editButtonId)
                
                    var row = '<tr>'

                    + '<td>' + material + '</td>'
                    + '<td>' + category + '</td>'
                    + '<td>' + SizeGroupRange + '</td>'
                     + '<td>' + color + '</td>'
                    + '<td>' + quantity + '</td>'
                     + '<td>' + price + '</td>'
                     + '<td>' + '<input class="form-control" id="soldquantity" type="text"/>' + '</td>'
                     + '<td>' + '<input class="form-control" id="soldprice" type="text"/>' + '</td>'
                        + '<td>' + '<button id="' + editButtonId + '" class="btn btn-primary btn-sm productQuantityDelete">Delete</button>' + '</td>'
               + '</tr>';
                    $("#ProductSaleTable> tbody:last-child").append(row);
                
                  
                
               
            });
            $("#SearchCustomer").click(function () {
                event.preventDefault();

                $.ajax({
                    url: "/Order/CustomerSearch",
                    type: "POST",
                    data:
                   {
                       // Id:$("#Id").val(),
                       Mobile1: $("#Mobile1").val()
                   },
                    success: function (data) {
                        console.log(data);
                        $('#name').text(data.Customer_Name);
                        $('#address').text(data.Address);
                        $('#customerId').val(data.Id);
                        resetfunction();
                    },
                    error: function (data) {
                        alert(data)
                    },

                })
            });
            $("#ProductNoSearch").click(function () {
                event.preventDefault();

                $.ajax({
                    url: "/Order/ProductSearch",
                    type: "POST",
                    data:
                   {
                       // Id:$("#Id").val(),
                       Product_No: $("#Product_No").val()
                   },
                    success: function (data) {
                       
                        var jsonObject = JSON.parse(data); // convert json string to json object
                        console.log(jsonObject);
                        var rowList = '';
                        $("#productQuantityTable > tbody").empty();//erase all rows from tbody.
                        for (i = 0; i < jsonObject.length;i++)
                        {
                            console.log(jsonObject[i]);
                            var singleRow = '<tr>'
                             + '<td>' + jsonObject[i].Material.Material_Name + '</td>'
                              + '<td>' + jsonObject[i].Category.Category_Name + '</td>'
                               + '<td>' + jsonObject[i].SizeGroup.Size_Group_Range + '</td>'
                             + '<td>' + jsonObject[i].Color.Color_Name + '</td>'
                              + '<td>' + jsonObject[i].Quantity + '</td>'
                               + '<td>' + jsonObject[i].Price + '</td>'
                             + '<td>' + '<button id="'+jsonObject[i].Id+'" class="btn btn-primary btn-sm chooseBtn">Choose</button>' + '</td>'
                             + '</tr>';
                            rowList = rowList + singleRow;
                        }

                        $("#productQuantityTable > tbody:last-child").append(rowList);
                       
                      
                    },
                    error: function (data) {
                        alert(data)
                    },

                })
            });
            $("#SaveBtn").click(function () {
              
                if ($("#soldquantity").val() == "" || $("#soldquantity").val() <= '0') {
                    event.preventDefault();
                    swal("Failed", "Invalid Sold Quantity", "error").then(function () {
                        $("#soldquantity").focus();
                    });
                }

                else if ($("#soldprice").val() == "" || $("#soldprice").val() <= '0') {
                    event.preventDefault();
                    swal("Failed", "Invalid Sold Price", "error").then(function () {
                        $("#soldprice").focus();
                    });
                }
                else {
                    event.preventDefault();
                    //parse table
                    var productQuantityArray = [];
                    var trList = $('#ProductSaleTable > tbody').find('tr');

                    $(trList).each(function (i, el) {
                        var tds = $(this).find('td');

                        //input field +id select.

                        var quantityInputField = $(tds).eq(6).find("input")[0];
                        var priceInputField = $(tds).eq(7).find("input")[0];// get first input field in td
                        var PurchasePrice = $(tds).eq(5).text();
                        var DeleteBtnId = $(tds).eq(8).find("button")[0];


                        //input + id assign 
                        var soldQuantity = $(quantityInputField).val();  // get input field value
                        var soldprice = $(priceInputField).val();

                        var ProductQuantityId = $(DeleteBtnId).attr('id');


                        var obj = {
                            Quantity: soldQuantity,
                            Sold_Price: soldprice,
                            Purchase_Price: PurchasePrice,
                            Product_Quantity_Id: ProductQuantityId,
                        };

                        productQuantityArray.push(obj);
                    })
                    console.log(productQuantityArray);

                    $.ajax({
                        url: "/Order/OrderCreate",
                        type: "post",
                        data:
                       {
                           Customer_Id: $('#customerId').val(),
                           orderDetails: productQuantityArray,
                       },
                        success: function (data) {
                            if (data == "true") {
                                swal("success", "successfully saved", "success").then(function () {
                                    location.reload();//full page load using jquery then all data reset from page.
                                })
                            }
                            else
                                swal("failed", data, "error");
                            resetfunction();
                        },
                        error: function (data) {
                            alert(data)
                        },

                    })
                }
              

            });
          
        });
    </script>
}